/*-- here's the WordCamp Brighton theme style --*/
/* line 3, Users/jeremybrown/Documents/GitHub/2018brightonwordcamp/theme-style.scss */
p {
  font-size: 2rem; 
}
/*-- header stuff --*/
.navigation-top .wrap {
    padding: 0 3.4166666666667em;
}
.custom-header-media:before {
background:transparent;
}
.wp-custom-header {
display:none;
}
.home .wp-custom-header {
display:block;
}
.home .custom-logo{
display:none;
}
/*-- .header stuff.custom-header {
display:none;
} --*/
.home .entry-title {
display: none;
}
/* Menu & Nav Bar styling */
.wccsp-header,
.wccsp-footer,
.navigation-top {
	background: #33436c;
	background: -webkit-linear-gradient(to right,#645aee,#dc53eb);
	background: linear-gradient(to right,#645aee,#dc53eb);
}

.navigation-top a,
#site-navigation .menu-toggle {
	color: #fff;
}

.home .custom-header img {
	/*height: calc(100vh - 51px) !important;*/
}
.site-header {
background: url(https://2018.brighton.wordcamp.org/files/2018/02/cropped-Home-full-size-border.png) no-repeat center center fixed;
	background-size: auto 100%;
}
