/*-- here's the WordCamp Brighton theme style --*/
/* line 3, Users/jeremybrown/Documents/GitHub/2018brightonwordcamp/theme-style.scss */
p {
  font-size: 2rem; 
}
.navigation-top .wrap {
    padding: 0 3.4166666666667em;
}
.custom-header-media:before {
background:transparent;
}
.home .custom-header {
display:none;
}
.home .custom-header {
display:block;
}
