/*-- here's the WordCamp Brighton theme style --*/
p,a {
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
}
/*-- header stuff --*/
.navigation-top .wrap {
    padding: 0 3.4166666666667em;
}
.custom-header-media:before {
background:transparent;
}
.wp-custom-header {
display:none;
}
.home .wp-custom-header {
display:block;
}
.home .custom-logo{
display:none;
}
/*-- .header stuff.custom-header {
display:none;
} --*/
.home .entry-title {
display: none;
}

/* Logo animation (slow rotation) */
#rotatelogo,
img.custom-logo {
	-webkit-animation: rotation 120s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* Optional fancy box border with gradient site colours */
.box-border {
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 20px;
}

.box-content {
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
}

/* Non-HomePage banner background image */
.site-header {
	background: url(https://2018.brighton.wordcamp.org/files/2018/02/banner.01.png) no-repeat center top scroll;
}
.home .site-header {
background:none;
}

/* Main HomePage image */
.has-header-image.twentyseventeen-front-page .custom-header {
background: url(https://2018.brighton.wordcamp.org/files/2018/02/logo-large.png)  no-repeat center 30% fixed;
	background-size: 300px 300px;
	
}

@media screen and (min-width: 780px) {
.has-header-image.twentyseventeen-front-page .custom-header {
	 
	     	background:url(https://2018.brighton.wordcamp.org/files/2018/03/WCB18-Header-Homepage-transparent.png)    /* image */
     		top center  /* position / size */	
     		no-repeat                /* repeat */
     		scroll                    /* attachment */
     		padding-box              /* origin */
     		content-box              /* clip */
     		transparent;                     /* color */
		background-size: contain;	
	}
.has-header-image.twentyseventeen-front-page .site-header{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+0,cdcdcd+100 */
		background: #e7e7e7; /* Old browsers */
		background: -moz-linear-gradient(top, #e7e7e7 0%, #cdcdcd 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #e7e7e7 0%,#cdcdcd 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #e7e7e7 0%,#cdcdcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
		}	
	
}
/* Persuade the logo to be a bit bigger */
a.custom-logo-link img {
	max-height: 150px;
}

.site-branding {
	padding: 16px 0 8px;
}

/* Home page "sections" background images etc. */

#panel1, #panel2 {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-top: 0;
}

#panel1, #panel2, #panel1 h2, #panel2 h2, .site-header .navigation-top {
	color: #fff;
}

#panel3 a:not(.btn) {
	color: #fff;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,1);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,1);
}

#panel3 a:hover:not(.btn) {
	-webkit-box-shadow: inset 0 0 0 rgba(255,255,255, 0), 0 3px 0 rgba(255,255,255, 1);
	box-shadow: inset 0 0 0 rgba(255,255,255, 0), 0 3px 0 rgba(255,255,255, 1);
}
